body,
div,
ul,
li,
p {
  padding: 0;
  margin: 0;
  font-family: "Dosis", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Playfair Display SC", serif;
}

body {
  background: #81d8d0; /* Tiffany Blue */
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #000;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #000;
  line-height: 29px;
  padding: 10px;
}

h3 {
  /*font-style: italic;*/
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  /*font-style: italic;*/
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  /*float: right;*/

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #000; /* was #1199c3*/
  font-family: "Playfair Display SC", serif;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

a:hover {
  text-decoration: none;
  color: #000; /* plum - #523f95 */
  font-style: italic;
  font-weight: bolder;
}

a:focus {
  color: #000;
  text-decoration: none;
}

.welcome-message {
  /*font-style: italic;*/
  font-size: 40px;
  font-family: "Petit Formal Script", cursive;
  color: #f3f3f3;
  line-height: 40px;
}

#skills-h3 {
  color: #000;
  /*display: none;*/
}

.black-text { /*black*/
  color: #000;
  font-family: "Playfair Display SC", serif;
}

.silver-text { /*silver*/
  font-weight: bold;
  color: #eee;
}

.bottom-space {
  padding-bottom: 10px;
  clear:both;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

ul#skills li {
  display: block;
  line-height: 30px;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
  color: #eee;
}

#lets-connect {
  text-align: center;
}

.fa {
  color: #fff;
}

.project-entry .date-text {
  display: block;
  float: none;
}

.project-entry p {
  display: block;
  position: relative;
  max-height: 100px;
  overflow: hidden;
}

.project-entry a {
  white-space: nowrap;
}

ul#topContacts li span { /* header - keeps fontawesome icon from freaking out when link is added */
  display: inline-block;
}

ul#topContacts a { /* header - keeps span text from freaking out when link is added */
  display: inline-block;
  margin-top: 0;
  font-family: "Dosis", Arial, sans-serif;
}

ul#topContacts, ul#footerContacts {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 20px 0;
}

ul#footerContacts li span { /* footer - keeps fontawesome icon from freaking out when link is added */
  display: inline-block;
}

ul#footerContacts a { /* footer - keeps span text from freaking out when link is added */
  display: inline-block;
  margin-top: 0;
  font-family: "Dosis", Arial, sans-serif;
}

.school-url {
  margin-top: 0;
  font-family: "Dosis", Arial, sans-serif;
}

/* Modular Classes */
.xtra-space {
  margin-top: 20px;
}

hr.diamond-break {
    padding: 0;
    border: none;
    border-top: medium double #fff;
    color: #fff;
    text-align: center;
}

hr.diamond-break:after {
    font-family: FontAwesome;
    content: "\f219";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #81d8d0;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 90%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
    margin: 0 auto;
  }
}
